/******top of scene*****/
/*file, current yaz*/
.top-labels{
    -fx-font: 16px "Serif";
    -fx-background-color: WHITE;
}
/*borderpane, Hbox*/
.background-only{
    -fx-background-color: WHITE;
}
/*userCB, skinCB*/
.top-combo-box{
    -fx-background-color: WHITE;
}

/*****center of scene*****/
/*.table-view  {*/
/*    -fx-border-color: BLUE;*/

/*    -fx-text-fill: GREEN;*/

/*    }*/
/*.table-column {*/
/*    -fx-border-color: BLUE;*/
/*    -fx-background-color: GREEN;*/
/*    -fx-text-fill: RED;*/
/*}*/

/*.table-column.column-header {*/
/*    -fx-text-fill: GREEN;*/
/*}*/
.table-view{
    -fx-table-header-border-color: -fx-box-border;
    -fx-table-cell-border-color: derive(-fx-color,5%);
}











