/*****top of scene*****/
/*file, current yaz*/
.top-labels{
    -fx-font: 12px "Segoe UI Semibold";
    -fx-background-color: #e8e6e8;
}
/*borderpane, Hbox*/
.background-only{
    -fx-background-color: #4683C4;
}
/*userCB, skinCB*/
.top-combo-box{
    -fx-background-color: #e8e6e8;
    -fx-prompt-text-fill: ;
}

/*****center of scene*****/
/*anchorpane, Hbox*/
.center-background-only{

}
/*increaseyaz, loadfile*/
.center-top-button{

}
/*loans tabpane*/
.center-loan-tabpane{

}
/*new,pending,active,risk,finished*/
.center-loan.tab{

}

/***** tables *****/
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell {
    -fx-background-color: #81c483;
    -fx-background-radius: 15px;
    /*-fx-text-fill: WHITE;*/
}
.table-column{
    -fx-text-fill: WHITE;
    -fx-background-color: transparent;
}
.table-view{

}

/***** other things *****/